html, body {
	width: 100%;
	height: 100%;
	font-family: Helvetica, sans-serif;
	margin: 0px;
	background-color: rgb(20, 12, 0);
	color: white;
	font-weight: lighter;
}

video {
	display: inline;
	width: 49.5%;
	height: 49.5%;
	margin-left: auto;
	margin-right: auto;
}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.flexContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
}

#mediaWrap {
	order: 1;
	width: 100%;
	flex: 1 1 auto;
	position: relative;
}
#media {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow-y:auto; /*Fix scrolling bug in Chrome*/
	overflow: hidden;
}

#sources {
	border-top: 1px solid rgb(117, 96, 30);
	order: 2;
	width: 100%;
	flex: 0 0 auto;
	padding: 5px 0px 2px 0px;
	background: rgb(31, 21, 6);
	transition: border-top 0.3s;
}
#sources:hover {
	border-top: 1px solid rgb(163, 134, 41);
}
#labels {
	float: left;
	width: 250px;
	margin-left: -100%;
}
#timelineWrapper {
	float: left;
	width: 100%;
}
#timeline {
	margin-right: 10px;
	margin-left: 250px;
}
#scrub {
	width: 100%;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	height: 2px !important;

	-webkit-appearance: none !important;
	-webkit-user-select: none;
	user-select: none;
	vertical-align: middle;
}
#scrub::-webkit-slider-thumb {
	-webkit-appearance:none !important;
	-webkit-user-select: none;
	user-select: none;
	height: 10px;
	width: 2px;
	background: red;
	overflow: hidden;
}

#controls {
	display: block;
}
#play {
	text-align: left;
	background-color: orangered;
	border: none;
	border-radius: 3px;
	font-weight: bold;
	transition: background-color 0.1s;
}
#play:hover {
	background-color: rgb(253, 95, 36);
}

.muteBox > input {
	display: none;
}
.muteBox {
	display: inline-block;
	border-radius: 2px;
	width: 15px;
	height: 15px;
	background: green;
	margin-left: 3px;

}
.muteBox + label {
	border-radius: 100%;
}

/*
 *		STYLING FOR THE TIMELINE
 */

#sources:hover .timelineRow {
	height: 15px;
	margin-bottom: 5px;
}
#sources:hover .timelineLabel {
	display: block;
}

.timelineRow {
	/*height: 15px;
	margin-bottom: 5px;*/
	height: 2px;
	margin-bottom: 1px;
	/*transition: height 1s;
	transition: margin-bottom 1s;*/
}

.timelineBar {
	background-color: orangered;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 75%, transparent 75%, transparent);
	background-size: 15px 15px;
	border-radius: 2px;
}

.timelineLabel {
	display: none;
	text-overflow: ellipsis;
	margin-left: 5px;
	margin-right: 5px;
	text-align: right;
}

#sources:hover .syncPoint {
	display: inline-block;
}
.syncPoint {
	width: 5px;
	height: 33%;
	top: -33%;
	position: relative;
	display: none;
	border-radius: 5px;
	background-color: rgba(168, 27, 0, 0.8);
}

#versionInfo {
	position: absolute;
	display: inline;
	z-index: 100;	/* keep above the flexBox so it can be hovered over */
	top: 5px;
	right: 5px;
	font-size: 0.7em;
	color: gray;
	transition: color 0.2s;
}
#versionInfo:hover {
	color: white;
}